# .env file (since this should be changed depending on what the system is)
.env

# Temp directory
tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# secrets.json file containing secrets for PGs to register with
secrets.json